.box {
  /* perspective: 3000px; */
  width: var(--width);
  height: var(--height);
  transform-style: preserve-3d;
  transform: rotateY(0) rotateX(0);
  background-color: purple;
  /* animation: rotate 3s linear infinite forwards; */
  & .front-face,
  .right-face,
  .left-face,
  .top-face,
  .bottom-face,
  .back-face {
    position: absolute;
    inset: 0;
    /* border: 1px solid black; */
    background-color: yellow;
    /* transform: rotateY(45deg); */
  }
  & .right-face {
    width: var(--stretch);
    height: var(--height);
    background-color: green;
    transform: translateX(var(--width)) rotateY(90deg);
    transform-origin: 0 0;
  }
  & .left-face {
    width: var(--stretch);
    height: var(--height);
    background-color: blue;
    transform: rotateY(90deg);
    transform-origin: 0 0;
  }
  & .top-face {
    width: var(--width);
    height: var(--width);
    background-color: brown;
    transform: rotateX(90deg) translateY(calc(-1 * var(--width)));
    transform-origin: 0 0;
  }
  & .back-face {
    background-color: purple;
    transform: translateZ(calc(-1 * var(--stretch)));
    transform-origin: 0 0;
  }
  & .bottom-face {
    width: var(--width);
    height: var(--width);
    background-color: red;
    transform: rotateX(90deg) translateY(calc(-1 * var(--width)/2));
    transform-origin: 50% 50%;
  }
}
@keyframes rotate {
  from {
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  to {
    transform: rotateX(0) rotateY(360deg) rotateZ(0);
  }
}
