.App {
  text-align: center;
}
*{
  transform-style: preserve-3d;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.human{
  width: 200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-top: 100px;
  flex-direction: column;
  height: 100vh;
  /* background-color: green; */
  transform-style: preserve-3d;
  transform: rotateY(20deg);
  animation: rotate 3s linear infinite forwards;
}
.head{
  z-index: 10;
  position: relative;
  width: 100%;

}
.left-hand, .right-hand{
  position: absolute;
  transform-origin: 0 0;
  transform: rotate(90deg) translateZ(-15px);
}
.left-hand{
  transform:rotate(90deg) translateY(-150%) translateZ(-15px);
}
.chest{
  position: absolute;
}
.body{
  width: 100%;
  position: relative;
  /* width: 100px;
  height: 100px; */
  /* background-color: blue; */
  /* transform: translateZ(100px); */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
