.App {
  text-align: center;
}
*{
  transform-style: preserve-3d;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.human{
  width: 200px;
  margin: 0 auto;
  padding-top: 100px;
  /* justify-content: center; */
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  /* background-color: green; */
  transform-style: preserve-3d;
  transform: rotateY(-100deg) rotateX(30deg);
  /* animation: rotate 3s linear infinite forwards; */
}
.head{
  z-index: 10;
  position: relative;
  background-color: blue;
  width: fit-content;
  transform: translateZ(15px);

}
.left-hand, .right-hand{
  background-color: brown;
  position: absolute;
  top: -20px;
  transform: rotate(110deg) translateY(-50px);
}
.left-hand{
  transform:rotate(70deg) translateY(50px);
}
.chest{
  /* position: absolute; */
  display: flex;
  flex-direction: row;
}
.body{
  width: 100%;
  position: relative;
  /* background-color: blue; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  transform: translateZ(15px);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
