.App {
  text-align: center;
}
* {
  transform-style: preserve-3d;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
  transition: 2s;
}
.human {
  width: 200px;
  margin: 0 auto;
  padding-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  transform-style: preserve-3d;
  transform: rotateY(160deg) rotateX(20deg);
  /* animation: rotate 3s linear infinite forwards; */
}
.head {
  z-index: 10;
  position: relative;
  background-color: blue;
  width: fit-content;
  /* transform: translateZ(-15px); */
  /* Translation logic => full width area, which is 30px. Translation = half of full width - half of cube stretch */
}
.neck {
  transform: translateZ(-5px);
}
.right-hand{
  transform: translateX(-15px) translateY(4px) rotate(90deg);
  & .arm {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotateZ(70deg) translateZ(-1px);
    transform-origin: 0 0;
  }
  /* animation: rotateRight 3s linear infinite forwards; */
}
.left-hand {
  transform: translateX(15px) translateY(-4px) rotate(20deg);
  & .arm {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotateZ(-70deg);
    transform-origin: 100% 0;
  }
}
.chest {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.body {
  width: 100px;
  min-height: 20px;
  position: relative;
}
.left-hand .hand {
  position: absolute;
  top: calc(100% - 10px);
  transform: rotate(40deg) translateY(-5px);
  transform-origin: 0 0;
}
.right-hand .hand {
  position: absolute;
  top: calc(100% - 10px);
  transform: rotate(-40deg) translateY(-5px);
  transform-origin: 100% 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes rotateRight {
  0%{
    transform: translateX(-15px) translateY(4px) rotate(-10deg);
  }
  50%{
    transform: translateX(-15px) translateY(4px) rotate(90deg);
  }
  100%{
    transform: translateX(-15px) translateY(4px) rotate(-10deg);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
